<script type="text/javascript">
    //Add twitter button
    $(function(){
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    
        //Add g-plus button
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
        
        //Add facebook button
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


        window.setTimeout(function(){
            $('#likeable').animate({width: 'toggle'});
        }, 2000);
    });
    
    //Add uservoice widget
	var uvOptions = {};
	(function() {
		var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
		uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/MkwsYxMtIjoVC7ueDK6VIA.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
	})();
	

    
/*
    window.onbeforeunload = function() {
        return "Thanks for visiting!  Don't forget to tweet, like, and +1 the civilometer before you go!";
    }
    $(function(){
        $('a').click(function(){
            if (this.href.match(location.host)) { //this test could be improved upon
                //alert('Please continue on to our site.');
                window.onbeforeunload = null;
            } else {
                //alert('You are about to leave our website.');
            }
        });
    });
*/
</script>
