footer{
	text-align: center;
}

.item-holder{
	/*height : 400px;*/
    padding: 20px;
/*	
    padding-left : 20px;
	padding-right : 20px;    
*/
    border: 2px solid #ccc;
    margin: auto;
	/*position : relative;*/
}

.plot-holder{
/*	width: 100%; */
	/*height : 75%;*/
/*	position : absolute; */
    margin: auto;
}

.img-holder{
	height : 90%;
	width: auto;
}

h4{
	margin-top:10px;
	margin-bottom:5px;
}

/*** Masonry stuff ******************************************************/

#mini-blocks div.cvm-masonry{
	margin-left: 30px;
	width: 220px;
	float: left;
}

#mini-blocks div.double-wide{
	width: 510px;
}

#mini-blocks div.cvm-masonry-hero{
	padding : 60px;
	width : 428px;
	line-height: 27px;
	font-family: Ubuntu, Tahoma, sans-serif;
	font-size: 18px;
	font-weight: 200;
}

div.corner-right{
	float:right;
	text-align:center;
	margin:-10px -10px 10px 10px;
}

img.flavor-pic{
	max-width: 40px;
	max-height: 40px;
	margin: 0px 0px 5px 0px;
	padding: 5px;
}

span.yes-do-this{
	cursor:pointer;
}

div.corner-left{
	float:left;
	margin: 10px 40px 30px 0px;
	text-align:center;
}

div.corner-left img{
	margin-bottom: 20px;
}

#likeable{
	display: none;
	position:fixed;
	z-index:99;
	right:0;
	top: 60px;
	width:60px;
	margin-left: 14px;
	margin-right: 8px;
	text-align:right;
}

.rightside{
    float:right;
}

.wide{
    width:100%;
}

.breadcrumb li{
    color: #000;
}

.modal{
    display:none;
}

@import "bootstrap";
.modal-backdrop {
  opacity:0.4;
}



tr[href], .cvm-big-button{
    cursor:pointer;
}

.tr-hilight{
    background-color:#ddd;
}


/*** Formatting for codebook questions ************************************************/

#codebook {
	/*padding:10px;*/
	text-align:left;
	border:2px solid #fff;
	border-radius:10px;
}

#codebook .questionBox{
	margin:0px;
	padding:0px;
	border-right:5px solid #f5f5f5;
	position: relative;
}
#codebook .questionContent{
	margin:3px;
	padding:7px;
}
#codebook .questionBox p{ margin:0px 20px 0px 20px; }
#codebook .questionBox input[type=text]{ margin-left:20px; }
#codebook .questionBox textarea{ margin-left:20px; }
#codebook .questionBox table.matrixQuestion input[type=text]{
	width:90%;
	margin-left:0px;
}

#codebook .headerText,.answerText,.questionText{ width:95%; padding:0px; } /*background-color:#eee; */
#codebook .answerText{
/*    padding-left:22px;*/
/*    cursor:pointer; */
}
#codebook .mouseoverCell{ background-color:#ccddbb; }

#codebook .clickable{
    cursor: pointer;
}

#codebook table.matrixQuestion{
	border-collapse:collapse;
	width: 100%;
	margin:auto;
}

#codebook tr{
    width:100%;
}

#codebook tr.even{
	background-color:#e8e8e8;
}
#codebook tr.odd{
	background-color:##f5f5f5;
}

#codebook td{
	text-align:center;
	padding:5px;
    height:100%;
}
#codebook .textCol{
	text-align:left;
	/* padding-left:15px; */
	/*text-indent:20px;*/
}
#codebook .leftCol{	text-align:right; }
#codebook .rightCol{ text-align:left; }


/*** Formatting for marked up codebook questions ************************************************/

#codebook .questionMarkup{
	position:absolute;
	padding-top: 5px;
	padding-bottom : 5px;
/*	border:5px solid #669533; */
}

#codebook .shim-graph{
/*    border: 2px solid green; */
    text-align:center;
    line-height:1px;
    /* margin-left:auto; */
    /* width:20px; */
    /*display:inline;*/
}

#codebook .shim-graph img{
    padding:1px;
    width:7px;
    height:7px;
}

#codebook .leftCol{
    width: 20px;
}

.progress {
    width: 100px;
}
