<div class="modal" id="myModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
    <h3>Import new collection</h3>
  </div>
  <div class="modal-body">
    <form method="POST" enctype="multipart/form-data" class="form-horizontal tb-basic" action="/ajax/import-collection/"><fieldset>
      {% csrf_token %}

      <div class="control-group">
        <label class="control-label" for="fileInput">File</label>
        <div class="controls">
          <input class="input-file" name="fileInput" type="file">
          <br/>
          Please import a json file here.
        </div>
      </div>

      <br/><br/>
      <button type="submit" class="btn btn-primary rightside">Create &raquo;</button>
      <button type="cancel" class="btn rightside">Cancel &times;</button>
    </fieldset></form>
  </div>
</div>

