{% extends "base/single-column.html" %}
{% load cvm_app_tags %}

{% block start_scripts %}
<script type="text/javascript">
$(function(){
    //Highlight "shared-rez" in nav bar
    $('a[href*="/batches/"]').parent().addClass("active");
    
    $('#update-reliability').click(function(){
        $.post(
            "/ajax/update-batch-reliability/",
            {csrfmiddlewaretoken: '{{ csrf_token }}', batch_id: '{{ batch|mongo_id }}'},
            function(response){
                if( response.status == "success" ){
                }else{
                    alert( response.msg );
                }
            }
        );
    });
    
    $('#work-on-tasks').click(function(){    
        $.post(
            '/tasks/ajax/create-game-session/',
            JSON.stringify({'batch_id': '{{ batch|mongo_id }}', 'csrfmiddlewaretoken': '{{ csrf_token }}', 'user': {} }),
            function(data){
                if( data.status == "success" ){
                    //! redirect to appropriate page: /tasks/[game_session_id]
                    location.href = '/tasks/'+data.gs_id+'/';
                } else {
                    alert( data.msg );
                }
            },
            'json'
        );
    });
});
</script>
{% endblock %}

{% block menu %}{% include "admin/menu.htm" %}{% endblock %}

{% block breadcrumbs %}
<div class="container">
<ul class="breadcrumb">
    <li>
        <a href="/shared-resources/#batches">Batches</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="#">{{batch.profile.name}}</a></span>
    </li>
    {% if user.username in batch.profile.coders %}
    <li>
        <span class="divider"> :: </span>
        <a href="/tasks/">Go to task page</a></span>
    </li>
    {% endif %}
</ul>
</div>
{% endblock %}


{% block main_column %}
<!-- Overview --------------------->
<a class="btn btn-primary rightside" href="/review/{{ batch.profile.index }}/">Review results &raquo;</a>
<a class="btn btn-primary rightside" href="/batch/{{ batch|mongo_id }}/export/"><i class="icon-download"></i> Export results</a>
<a class="btn btn-primary rightside" id="work-on-tasks">Work on tasks &raquo;</a>
<h2>{{batch.profile.name}}</h2>

<dl class="dl-horizontal">
    <dt>Codebook</dt><dd>{{ codebook.profile.name }} ({{ codebook.profile.version }})&nbsp;</dd>
    <dt>Collection</dt><dd>{{ collection.profile.name }}&nbsp;</dd>
    <dt>Documents</dt><dd>{{ collection.profile.size }}&nbsp;</dd>
    <dt>Overlap</dt><dd>{{ batch.profile.pct_overlap }}%</dd>
    <dt>Shuffle</dt><dd>{{ batch.profile.shuffle }}&nbsp;</dd>
    <dt>Total tasks</dt><dd>{{ batch.reports.progress.summary.complete }}  of {{ batch.reports.progress.summary.assigned }} complete</dd>
</dl>
<br/>

<!-- Progress --------------------->
<div class="rightside">
  <a id="update-reports" class="btn btn-primary rightside"><i class="icon-refresh"></i> Update reports</a>
  <br/>
  <span class="rightside">Last updated: {{ batch.reports.reliability.updated_at|date_diff }}</span>
  <br/>
  <br/>
</div>
<h3>Progress</h3>
<table class="well wide">
  <thead>
    <tr>
      <th>Lane</th>
      <th>Progress</th>
      <th style="width: 40%"></th>
      <th></th>
      <th>Remaining</th>
    </tr>
  </thead>
  <tbody>
  {% for coder,value in batch.reports.progress.coders.items %}
    <tr>
      <td>{{ coder }}</td>
      <td>{{ value.complete }}/{{ value.assigned }}</td>
      <td><div class="progress progress-striped" style="margin:0px" >
          <div class="bar" style="width: {{ value.percent }}%;"></div>
      </div></td>
      <td>{{ value.percent }}%</td>
      <td>???</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<br/><br/>

<!-- Reliability --------------------->
<h3>Reliability</h3>

<table class="well wide">
  <thead>
    <tr>
      <th>#</th>
      <th>Question</th>
      <th>Type</th>
      <th style="width:20%">Reliability</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for question,value in batch.reports.reliability.summary.items %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{question}}</td>
      <td>{{value.metric}}</td>
      <td><div class="progress progress-striped progress-warning" style="margin:0px">
          <div class="bar" style="width: {{value.alpha_100|floatformat:1}}%;"></div>
      </div></td>
      <td>{{value.alpha|floatformat:4}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<br/><br/>


<!-- Coders --------------------->
<h3>Coders</h3>
<table class="well wide">
  <thead>
    <tr>
      <th>Lane</th>
      <th>Progress</th>
      <th style="width: 40%"></th>
      <th></th>
      <th>Remaining</th>
    </tr>
  </thead>
  <tbody>
  {% for coder,value in batch.reports.progress.coders.items %}
    <tr>
      <td>{{ coder }}</td>
      <td>{{ value.complete }}/{{ value.assigned }}</td>
      <td><div class="progress progress-striped" style="margin:0px" >
          <div class="bar" style="width: {{ value.percent }}%;"></div>
      </div></td>
      <td>{{ value.percent }}%</td>
      <td>???</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<br/><br/>



{% endblock %}

