{% extends "base/base.html" %}

{% block start_scripts %}
<script type="text/javascript">
$(function(){});
</script>
{% endblock %}

{% block menu %}{% include "admin/menu.htm" %}{% endblock %}

{% block main_container %}
<div class="row">
	<div class="span7 hero-unit">
		<h2>Site administration</h2>
		<p>...</p>
	</div>
	<div class="span3">
		<h3>Quick links</h3>
		<ul id="quick-links">
		</ul>
	</div>
</div>

<div id="mini-blocks" class="row-fluid">
    <div class="row-fluid">
        <div class="cvm-masonry span3 well">
            <h3>Users</h3>
            <p>...</p>
        </div>
        
        <div class="cvm-masonry span3 well">
            <h3>Widgets</h3>
            <p>...</p>
        </div>

        <div class="cvm-masonry span3 well">
            <h3>Mturk</h3>
            <p>...</p>
        </div>

    </div>

    <div class="row-fluid">
        <div class="cvm-masonry span3 well">
            <h3>Codebooks</h3>
            <p>...</p>
        </div>

        <div class="cvm-masonry span3 well">
            <h3>Collections</h3>
            <p>...</p>
        </div>

        <div class="cvm-masonry span3 well">
            <h3>Batches</h3>
            <p>...</p>
        </div>

    </div>

    <div class="row-fluid">

        <div class="cvm-masonry span3 well">
            <h3>Templates</h3>
            <p>...</p>
        </div>

        <div class="cvm-masonry span3 well">
            <h3>Viz</h3>
            <p>...</p>
        </div>

    </div>
</div>
{% endblock %}
