<div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>

	  <img src="{{ STATIC_URL }}img/cvm-logo.gif" style="float:left; position:absolute; height:50px;">
	  <a class="brand" href="/admin/">&nbsp;&nbsp;&nbsp;&nbsp;civilometer admin</a>

	  <!-- These menu options are collapsed for small screens -->
	  <div class="nav-collapse">
		<ul class="nav">
		  <li><a href="/admin/users/">Users</a></li>
		  <li><a href="/admin/codebooks/">Codebooks</a></li>
		  <li><a href="/admin/collections/">Collections</a></li>
		  <li><a href="/admin/batches/">Batches</a></li>
		</ul>
	  </div><!--/.nav-collapse -->
      
      <!-- These menu options are *not* collapsed for small screens -->
	  <ul class="nav pull-right">
          <li><a href="/"> &laquo; Public site</a></li>
		{% if user.is_authenticated %}
			<li><a href="/sign-out/">Sign out {{ user.username }}</a></li>
		{% else %}
			<li><a id="sign-in-btn">Sign in</a></li>
		{% endif %}
	  </ul>

	</div>
</div>

